@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content{
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

img {
  width: 600px;
}

.left-links, .right-links{
  display: flex;
  gap: 20px;
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
}

a {
  color: grey;
  text-decoration: none;
  font-weight: 700;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background: #eee;
  font-size: 18px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
